body {
    background-color: black;
    font-family: monospace;
    color: #ff5be4;
}

/** navbar **/

#navbar-links{
    justify-content: flex-end;
    color: white;
}


/** container **/
.container-fluid {
    margin: 16px;
    padding: 15px;
}

.images {
    display: inline-block;
}