body {
    background-color: black;
    font-family: monospace;
    color: #ff5be4;
}

h3 {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

li {
    list-style: none;
}   


a {
    text-decoration: none;
    
}


.btn {
    background-color: #ff5be4;
    border: none;
    height: 200px;
    width: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 80px;
    font-size: 25px;
}

/** navbar **/
.logo {
    font-size: 30px;
    color: white
}

.navbar {
    padding: 0px;
}

.navbar-links{
    justify-content: flex-end;
}

.navbar-links a{
    color: white;
}

/** modules button **/
#module1 {
    background-image: url('images/button1.jpeg');
    background-repeat: no-repeat;
    filter: grayscale(100%);
}

#module1:hover {
    filter: grayscale(0%);
}

#module2 {
    background-image: url('images/btn2.png');

    background-repeat: no-repeat;
    filter: grayscale(100%);
}

#module2:hover {
    filter: grayscale(0%);
}


/** container **/
.container-fluid {
    margin: 16px;
    padding: 15px;
}

.left_text {
    max-width: 50%;
    margin-right: 100px;
}

.right_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right_text img {
    margin-bottom: 20px;
}

.images, .inline_container {
    display: inline-flex;
}

.subtitle {
    color: white;
    text-decoration: underline;

}