body {
    background-color: black;
    font-family: monospace;
    color: #ff5be4;
}

h3 {
    color: white;
}

/** navbar **/

#navbar-links{
    justify-content: flex-end;
    color: white;
}


/** container **/
.container-fluid {
    margin: 16px;
    padding: 15px;
}

.left_text {
    max-width: 50%;
    margin-right: 100px;
}

.images, .inline_container {
    display: inline-flex;
}